/*----------------------------MAIN STYLES--------------------------------*/
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-center {
  width: 1240px;
  margin: 0 auto;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 40px 0 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.login-button,
.signup-button,
.buy-or-sell-button,
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/*----------------------------HEADER--------------------------------*/
.header {
  height: 50px;
}

.header-center {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vinted-logo {
  width: 70px;
  object-fit: contain;
  flex: 1;
}

.searchbar {
  width: 540px;
  height: 35px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

.right-nav-bar {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.login-button,
.signup-button {
  height: 30px;
  width: 120px;
  color: #09aeb6;
  background-color: transparent;
  border: #09aeb6 solid 1px;
  border-radius: 5px;
}

.buy-or-sell-button {
  height: 32px;
  width: 130px;
  color: white;
  background-color: #09aeb6;
  border-radius: 5px;
  padding: 0px 10px;
}

.disconnect-button {
  height: 32px;
  width: 130px;
  color: white;
  background-color: #c2175b;
  border: none;
  border-radius: 5px;
}

/*----------------------------SIGNUP/LOGIN PAGE--------------------------------*/

.signup-login-div {
  width: 500px;
  margin: 100px auto;
}

.signup-login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.signup-login-div {
  text-align: center;
}

.signup-login-div-input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.signup-login-submit-button {
  height: 50px;
  width: 300px;
  margin: 30px 0;
  color: white;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*----------------------------HOME PAGE--------------------------------*/
/*------------------HERO BLOCK------------------*/
.hero-block {
  background-image: url("./img/hero-background.jpg");
  position: relative;
  width: 100%;
  height: 455px;
  background-position: 50%;
  background-size: cover;
}

.card {
  position: absolute;
  top: 75px;
  left: 340px;
  width: 360px;
  height: 220px;
  padding: 25px;
  background-color: white;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

.card-button {
  height: 45px;
  width: 187px;
  margin-top: 32px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #2baeb7;
}

.item-details {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}

/*------------------ITEM LIST------------------*/
.articles-list-center {
  width: 1240px;
  display: flex;
  margin: 16px auto;
  flex-wrap: wrap;
}

.item {
  margin: 0px 15px 50px 0px;
}

.item-picture {
  width: 230px;
  height: 325px;
  object-fit: cover;
}

/*----------------------------OFFER PAGE--------------------------------*/

.offer-body {
  height: 1000px;
  background-color: #ebedee;
}

.offer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

.offer-body img {
  height: 600px;
  object-fit: contain;
}

.offer-infos {
  width: 320px;
  padding: 40px;
  background-color: white;
}

.offer-price {
  font-size: 24px;
  margin-bottom: 20px;
}

.offer-details {
  display: flex;
}

.offer-details p {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px 0;
}

.offer-details p:nth-child(odd) {
  color: #999;
}

.offer-details p:nth-child(2n) {
  color: #666;
  font-weight: 700;
}

.divider {
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
  margin: 50px 0;
}

.offer-buy-button {
  margin: 20px 0;
}

/*----------------------------PUBLISH PAGE--------------------------------*/

.publish-page {
  background-color: #ebedee;
}

.publication-form {
  display: flex;
  flex-direction: column;
}

.upload-picture {
  height: 200px;
  padding: 24px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  height: 45px;
  font-weight: 700;
  color: #2baeb7;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #2baeb7;
  border-radius: 5px;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-text-input {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.publish-text-input > input,
textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  outline: none;
}

.publish-text-input > input:focus,
textarea:focus {
  border-bottom: 1px solid #0ab1ba;
}

.input-sign {
  font-size: 50px;
  margin-right: 10px;
}

.form-validation-display {
  display: flex;
  justify-content: flex-end;
}

.form-validation-button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 30px 0;
  cursor: pointer;
}

/*----------------------------PAYMENT PAGE--------------------------------*/

@keyframes fade {
  from {
    opacity: 0;
    transform: scale3D(0.95, 0.95, 0.95);
  }
  to {
    opacity: 1;
    transform: scale3D(1, 1, 1);
  }
}

.Form {
  width: 700px;
  margin: 100px auto;
  animation: fade 200ms ease-out;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #09aeb6;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #09aeb6;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #099ba3;
}

.FormRow:first-child {
  border-top: none;
}

.FormRowLabel {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes void-animation-out {
  0%,
  to {
    opacity: 1;
  }
}
.FormRowInput:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  animation: 1ms void-animation-out;
}

.FormRowInput {
  font-size: 16px;
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  animation: 1ms void-animation-out;
}

.FormRowInput::placeholder {
  color: rgba(255, 255, 255, 0.479);
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.SubmitButton {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #099ba3;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #099ba3;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
}

.SubmitButton:active {
  background-color: #099ba3;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #099ba3;
  transform: scale(0.99);
}

.SubmitButton.SubmitButton--error {
  transform: translateY(15px);
}
.SubmitButton.SubmitButton--error:active {
  transform: scale(0.99) translateY(15px);
}

.SubmitButton:disabled {
  opacity: 0.5;
  cursor: default;
  background-color: #09aeb6;
  box-shadow: none;
}

.ErrorMessage {
  color: red;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  font-size: 13px;
  margin-top: 0px;
  width: 100%;
  transform: translateY(-15px);
  opacity: 0;
  animation: fade 150ms ease-out;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
  will-change: opacity, transform;
}

.ErrorMessage svg {
  margin-right: 10px;
}

.Result {
  margin-top: 50px;
  text-align: center;
  animation: fade 200ms ease-out;
}

.ResultTitle {
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 17px;
  text-align: center;
}

.ResultMessage {
  color: #9cdbff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  line-height: 1.6em;
  text-align: center;
}

.ResetButton {
  border: 0;
  cursor: pointer;
  background: transparent;
}

/*----------------------------FOOTER--------------------------------*/
