/*----------------------------MAIN STYLES--------------------------------*/
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-center {
  width: 1240px;
  margin: 0 auto;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 40px 0 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

/*------------------------------------LOADER-------------------------------------------*/

.loader-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  font-size: 20px;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-bottom: 20px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
